.review-item {
  margin: 1rem;
}
.review-item a {
  text-decoration: none;
  color: inherit;
}
.review-item_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
  gap: 15px;
}
.review-item_image {
  width: 100px;
  height: 150px;
  flex: 0.4;
}
.review-item_image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.review-item_info {
  flex: 0.6;
}
.review-item_info h2 {
  margin-bottom: 5px;
  text-align: center;
}
.review-item_info p {
  text-align: center;
}
